@font-face{
    font-family: "Fragmentcore";
    src: url('../font/Fragmentcore.otf') format('truetype');
}
@font-face {
    font-family: 'titulos';
    src: url('../font/titulos/Pompiere-Regular.ttf') format("truetype");
}
body{
    background-image: url(../imagens/back.svg);
    background-repeat: repeat;
}

*{
    font-family: Fragmentcore;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
   
}
img{
    max-width: 90%;

}
li{
    list-style: none;
    display: inline;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;

}
.remove{
    display: none;
    padding: 0;
    margin: 0%;
}
.container{
    display: grid;
    grid-template-areas: 
    "header header header"
    "search   search    search  " 
    "content content content"
    ".   contentDetail  contentDetail "
    "footer footer footer   "
    ;
    grid-template-columns: auto minmax(900px, 580px);
}
/*header*/
.header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color:#ffd95c00;
    background: linear-gradient(90deg,#ffd000, #ffbb00);
}
#logo{
    padding: 0px 5px;
}
.icons-bar{
    padding: 5px 5px;
    margin-left: auto;  

}
.icons-bar a{
    padding: 0px 10px;
}
[data-icon="mdi-light:cart"]{
    font-size: 4em;
    color: black;
    transition: 0.4s;
}

[data-icon="mdi-light:cart"]:hover{
    font-size: 4.8em;
}
.opcaoMenu{
    height: 50px;
    width: 250px;
    background-color: #ffee0032;
    border-radius: 5px;
    display: block;
    grid-column: 1;
    transition: 0.4s;
}
.opcaoMenu ul li a{
    font-size: 1.8em;
    font-weight: bold;
}
.opcaoMenu ul{
    text-align: center;
}
.opcaoMenu:hover{
    background-color: #ffee00a8;
    width: 300px;
    height: 60px;
}
/*final header*/

/*search*/
.search{
    display: flex;
    grid-area: search;
    margin:  100px;
    align-content: center;
    justify-content: center;
    
}
.search form p {
    margin: 4% 100px 50px 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.9em;
    color: #008cff ;
}

.search button{
    padding: 13px 20px 24px 20px;
    border-radius: 5px;
    background-color: rgb(251, 172, 0);
    border: none;
    outline: none;
    cursor: pointer;
    

}
.search button:hover{
    color: rgb(255, 230, 0);
}
[ data-icon="akar-icons:search"]{
    font-size: 2em;
}
.search input{
    padding: 20px;
    width: 500px;
    font-size: 1em;
    outline: none;
}
/*final search*/

/*produtos em grade*/
.main{
    display: grid;
    grid-area: content;
    background-color: rgba(0, 0, 0, 0);
    margin: 0px auto;
    grid-template-columns:  repeat(3 , 350px);
    grid-gap: 35px;
}

.tituloProduto{
    color: rgb(0, 0, 0);
    padding: 5px;
    background-color: rgba(255, 4, 255, 0);
    font-family: Fragmentcore;
    font-size: 1.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.descricao{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 196, 0, 0);
    padding: 5px;
    font-size: 1.5em;
    overflow: scroll ;
    text-overflow: clip;
    max-height: 150px;
    border: 1px double rgba(0, 0, 0, 0.267);

}
.preco{
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
}
.btnComprar{
    background-color: #ffd900;
    width: 100%;
    padding: 10px;
    font-family:  Arial, Helvetica, sans-serif, Times, serif;
    font-size: 1.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.imagemProduto{
    margin: 10px 20px;
    height: 250px;
}

.elementsPrincipalMain{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.253); 
    padding: 10px;
    transition: 0.2s;
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); 
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    box-shadow: inset 0 0 6px rgb(0, 0, 0); 
    
}

.elementsPrincipalMain:hover{
    transform: translate3d(10px, 20px, 50px);
}
/*final produto grade*/

footer{
    grid-area: footer;
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, #ffb300, #ffd000 );
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

/*itens detalhados*/
.produtoDetail{
    grid-area: contentDetail;
    display: grid;
    grid-template-columns: repeat(2, minmax(500px, 1fr));
    }

/*final itens detalhados*/
.imagemProdutoDetail{
    padding: 20px;
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.287);
    }
.tituloDetail{
    text-align:center ;
    padding: 10px;
    font-weight: bold;
    font-size: 2em;

    }
.descricaoDetail{
    font-size: 1.8em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 15px;
    }
.precoDetail{
    font-size: 2em;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    }
.btnComprarDetail{
    padding: 20px;
    width: 90%;
    margin: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family:  Arial, Helvetica, sans-serif, Times, serif;
    font-size: 1.5em;
    background-color: #ffd900;
    transition: 0.4s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.287);
    }
.btnComprarDetail:hover{
    padding: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.555);

    }
    /*cep*/
.cepContainer {
    grid-column: 2;
    margin: 20px 0px;

    }
.cepContainer input[type="text"]{ 
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    font-size: 1.3em;
    display: block;
    border: 1px solid black;
        

    }
.cepContainer input[type="text"]:hover{
    transition: 0.4s;
    padding: 20px;
    font-size: 1.3em;
    }
.containerProductDetail{
    grid-column: 1;
    grid-row: 1;
    }
.loader {
    display: block;
    border: 16px solid #a09f9f;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 100px auto;
    }
      
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }